/* Light Mode */
:root {
  --background-color: #fdf6e3;
  --text-color: #333;
  --link-color: #268bd2;
}

/* Dark Mode */
[data-theme="dark"] {
  --background-color: #002b36;
  --text-color: #eee;
  --link-color: #2aa198;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}
